<!DOCTYPE html>
<html>
<head>
    <title>Roguelike Roulette UI</title>
</head>
<body class="body">
    <!-- reference stylesheet -->
    <link rel="stylesheet" href="static/default.css">
    <h1>List of Games</h1>
    <!-- loop through currently listed games -->
    <ul>
        {% for game in games %}
            <li>{{ game }}</li>
        {% endfor %}
    </ul>

    <!-- reference add_game function for insert -->
    <form method="POST" action="{{ url_for('add_game') }}">
        <label for="game_name"></label>
        <input type="text" id="game_name" name="game_name">
        <button type="submit">Add Game</button>
    </form>

    <!-- reference remove_game function for removal -->
    <form method="POST" action="{{ url_for('remove_game') }}">
        <label for="game_name"></label>
        <!-- provide dropdown menu -->
        <select name="game_name" id="game_name">
            {% for game in games %}
                <option value="{{ game }}">{{ game }}</option>
            {% endfor %}
        </select>
        <button type="submit">Remove</button>
    </form>

    <!-- game import from file -->
    <h4>Import games from file</h4>
    <pr>Import from plain-text file, with games separated with new lines</pr>
    <form method="POST" action="{{ url_for('import_games') }}" enctype="multipart/form-data">
        <input type="file" name="file" accept=".txt">
        <button type="submit" onclick="return confirm('Uploading this file will overwrite the current list of games. Continue?')">Upload</button><br><br>
    </form>

    <br><br>

    <!-- submit button to redirect to wheel -->
    <button type="submit" onclick="window.location.href='/wheel'">Spin Wheel</button>

    <!-- customize wheel -->
    <h1>Customize wheel</h1>
    <p1>In Development :)</p1>
    <!--
    <pr>Enter hex values for color choices (Ex. '#808080' for Grey)</pr><br>
    <input type="text" id="fill_color" placeholder="Enter wheel slice color">
    <input type="text" id="stroke-color" placeholder="Enter wheel stroke color">
    <input type="text" id="text-color" placeholder="Enter text color">
    -->
</body>
</html>
