<html>
    <head>
        <title>Roguelike Roulette Wheel</title>
        <script src='static/Winwheel.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
        <link rel="stylesheet" href="static/default.css">
    </head>
    <body>
        <canvas id='canvas' width='600' height='600'>
            Canvas not supported, use another browser.
        </canvas>
        <script>
            // import color vars from list_games.html
            var sliceColor = "#FFA500"; // default to red if no value is entered
            var lineColor = "#FF00FF";
            var textColor = "#006400";
            // import games defined in app.py
            var games = {{ games | tojson }};
            // define number of segments based on the number of games
            var numSegments = games.length;
            // create the wheel
            var theWheel = new Winwheel({
                numSegments: numSegments,
                segments: [
                    {% for game in games %}
                    { text: "{{ game }}", 
                    fillStyle : sliceColor,
                    strokeStyle : lineColor,
                    textFillStyle: textColor},
                    {% endfor %}
                ],
                pointerAngle: 90,
                pointerGuide: {
                    display: true,
                },
            });
            // Flag variable to keep track of whether the wheel has been spun or not
            var wheelSpun = false;
            // Spin the wheel automatically once the window is loaded
            window.addEventListener('load', function() {
                // Only spin the wheel if it hasn't been spun yet
                if (!wheelSpun) {
                    // Set the wheel's animation properties
                    theWheel.animation = {
                        type: 'spinToStop',
                        duration: 10,
                        spins: 20,
                        callbackFinished: alertPrize,
                    };
                    // start the animation
                    theWheel.startAnimation();
                    // Set the flag variable to true to indicate that the wheel has been spun
                    wheelSpun = true;
                }
            });
            // Function to display the choice when the wheel stops spinning
            function alertPrize(indicatedSegment) {
                alert('Game chosen is: ' + indicatedSegment.text);
            }
        </script>
    </body>
</html>